*logs
*obj_dir
*.vcd
*.dat
*.vscode
*.log
*.pb
*.dir
*.dir
*.sublime-project
*.sublime-workspace
*.idea
# *.gtkw
*DVEfiles
src/inst/decoder.sv
src/inst/decoder.svh
.gitconfig
dist

# self trial
rtl/test
rtl/pipeline/issue/decoder.svh

tmp

# simple-decoder
src/simple-decoder/project
src/simple-decoder/target
